ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

/*
    HEADER
 */
.header__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.logo {
    width: 160px;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__menu li {
    position: relative;
}

.header__menu a {
    color: #00b7ff;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    font-size: 17px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.header__menu a:hover::after {
    border-bottom: 0px solid #0099ff;
    bottom: 0;
    -moz-box-shadow: inset 0px -1px 0px 0px #0099ff;
    -webkit-box-shadow: inset 0px -1px 0px 0px #0099ff;
    box-shadow: inset 0px -1px 0px 0px #0099ff;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
}

.header__menu__link:before {
    border-bottom: 1px solid #00b7ff;
    border-right: 1px solid #00b7ff;
    bottom: 0;
    content: '';
    height: 4px;
    margin: auto;
    position: absolute;
    right: 5px;
    top: -2px;
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -o-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 4px;
}

.header__menu__link:hover.header__menu__link:before {
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.header__submenu {
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .2);
    display: block;
    left: -30%;
    margin-top: 10px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    -o-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    visibility: hidden;
    z-index: 2;
}

.header__submenu a:hover {
    text-decoration: underline;
}

.header__submenu a:hover::after {
    border-bottom: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header__submenu a {
    color: #9c9c9c;
    display: block;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    text-transform: uppercase;
}

.header__menu__link:hover .header__submenu {
    opacity: 1;
    visibility: visible;
}

.social {
    width: 160px;
}

.social ul {
    display: flex;
}

.social a {
    display: block;
    margin-left: 10px;
}

/*
    MAIN PAGE
 */
.s_slider {
    position: relative;
    z-index: 1;
}

.slider {
    margin-bottom: 20px;
}

.slider__item {
    font-size: 0;
    margin: 0 auto;
    width: 92%;
}

.slider__item_half {
    display: inline-block;
    vertical-align: top;
    width: 48%;
}

.slider__item_half:first-child {
    margin-right: 4%;
}

.slider__item_half img {
    width: 100%;
}

.mainSlider__item__title {
    color: #000;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.23;
    margin-bottom: 30px;
}

.mainSlider__item__text {
    color: #000;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.55;
    margin-bottom: 30px;
}

.mainSlider__item__link a {
    border: 2px solid #000;
    border-radius: 30px;
    color: #d62b00;
    display: inline-block;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
}

.owl-prev {
    background: rgba(0, 0, 0, 0) url(../images/icons/prev.svg) no-repeat scroll 0 0 !important;
    float: left;
    height: 50px;
    outline: none;
    position: absolute;
    top: 40%;
    transition: all 0.4s ease 0s;
    width: 26px;
}

.owl-next {
    background: rgba(0, 0, 0, 0) url(../images/icons/next.svg) no-repeat scroll 0 0 !important;
    float: right;
    height: 50px;
    outline: none;
    position: absolute;
    right: 0;
    top: 40%;
    transition: all 0.4s ease 0s;
    width: 26px;
}

.s_news {
    background-color: #ededed;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.news__item {
    background: #ffffff;
    margin-bottom: 30px;
    width: 32%;
}

.news__item a {
    text-decoration: none;
}

.news__item__img {
    height: 250px;
    margin-bottom: 30px;
}

.news__item__img img {
    height: 250px;
    margin-bottom: 30px;
    object-fit: cover;
}

.news__item__title {
    color: #000000;
    font-family: 'Arial', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
    padding: 0 20px;
}

.news__item__text {
    color: #000000;
    font-family: 'Arial', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.55;
    margin-bottom: 20px;
    padding: 0 20px;
}

.green {
    background: #228753;
}

.green .news__item__title, .green .news__item__text {
    color: #ffffff;
}

.yellow {
    background: #dbb753;
}

.newsArchive {
    padding: 40px 0 10px;
    text-align: center;
}

.newsArchive a {
    color: #ff8562;
    display: inline-block;
    text-decoration: none;
}